
{% extends 'main.html'%}

    {% block content%}
  <style>
    
    .container {
      width: 100%;
      margin: 0 auto;
      padding: 20px;
    }
    
    h1 {
      text-align: center;
      color: #00425A;
    }
    .container hr{
        border-bottom: 1px solid #00425A;
    }
    
    .container p {
      line-height: 1.5;
    }
    .welcome-des{
        font:700;
        font-size: 20px;
    }
    
    .vision-mission-container {
      margin-top: 30px;
      display: flex;
      justify-content: center;
    }
    
    .vision, .mission {
      flex-basis: 48%;
      border-radius: 8px;
      font-size:18px;
      padding: 12px;
      margin: 5px;
      color: white;
      background-color: #E27D60;
    }
    .vision h2,.mission h2{
        color:white;
      }

      .key-value{
        /* background-color:#41B3A3; */
        background-color: #E27D60;
        padding: 12px;
        border-radius: 8px;
        margin: 15px;
        font-size:18px;
      }

      .key-value h2{
        color: white;
        padding: 12px 12px;
      }
      
      .key-value ol li{
        margin: 12px;
        line-height: 2;
        padding: 12px;
        color: white;
      }
    .key-value ol li span{
        background-color: #41B3A3;
        padding: 8px 12px;
        border-radius: 2px;
        margin-right:10px;
        color: aliceblue;
        font-weight: 700;
        font-family:'Courier New', Courier, monospace;
    }
    .key-value ol li span:hover{
        border:1px solid white ;
    }
    .join-us{
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }
    .join-us h2{
        font-size:24px;
    }
    .join-us p{
        font-size: 20px;
    }
    @media (max-width: 768px) {
      /* Styles for mobile devices */
      .container {
        padding: 10px;
      }
      .container h1{
        padding-top: 20px;
        font-size: larger;
      }
      .container p{
        font-size: 12px;
        text-align: center;
      }
      
      .vision-mission-container {
        flex-direction: column;
      }
      
      .vision, .mission {
        flex-basis: auto;
        margin: 20px 12px;
        text-align: center;
      }

      .join-us h2{
        font-size:24px;
      }
    .join-us p{
        font-size: 14px;
      }
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Padaku Education Solution</h1><hr>
    <p class="welcome-des">Welcome to Padaku Education Organization, an innovative educational institution dedicated to providing high-quality education tools and study content for schools and students. Founded in 2023 by our visionary leader, Vijay Patidar, and co-founder Purushottam Patidar,Padaku aims to empower learners and educators with the resources they need to excel in their educational journey.</p>    
    <div class="vision-mission-container">
      <div class="vision">
        <h2>Vision</h2>
        <p>Our vision is to become a global leader in our industry by consistently delivering innovative solutions and outstanding customer experiences. We aim to revolutionize the way people interact with our products and services, making a positive impact on their lives.</p>
      </div>
      
      <div class="mission">
        <h2>Mission</h2>
        <p>Our mission is to make a difference in the world by providing top-quality products and services that meet the diverse needs of our customers. We strive to build long-term relationships based on trust, transparency, and mutual growth. Through continuous improvement and a customer-centric approach, we aim to exceed expectations and create lasting value.</p>
      </div>
    </div>
    <div class="key-value">
        <h2>At Padaku, we are driven by a set of core values that underpin everything we do:</h2>
        <ol>
            <li><span>Excellence</span>We strive for excellence in all aspects of education, encouraging students to reach their full potential and achieve outstanding results.</li>
            <li><span>Innovation</span>We embrace innovation and constantly seek new ways to enhance the learning experience, incorporating technology and contemporary teaching methods.</li> 
            <li><span>Inclusivity</span>We celebrate diversity and create an inclusive environment that respects and values the unique backgrounds, perspectives, and abilities of all individuals.</li> 
            <li><span>Lifelong Learning</span>We promote a love for learning that extends beyond the classroom, instilling a curiosity-driven mindset that inspires personal and professional growth throughout life.</li> 
            <li><span>Community Engagement</span>We actively engage with our local communities, forging strong partnerships with parents, educators, and other stakeholders to ensure the holistic development of our students.</li> 
        </ol>
    </div>
  </div>

  <div class="join-us">
<h2>Join Us on the Padaku Journey</h2><hr>
<p>We invite schools, students, educators, and educational institutions to join us on this transformative journey. Together, let's shape the future of education by leveraging the power of cutting-edge tools and comprehensive study content. Contact us today to explore how Padaku Education Organization can support your educational needs and help unlock the full potential of learners everywhere.</p>
<p>Thank you for visiting our website. We look forward to serving you and building a long-lasting partnership. Feel free to contact us for any inquiries or to learn more about our products and services.</p>
</div>


</body>
{%endblock content%}
