{% extends 'main.html'%}
{% block content%}
<style>
    h6{
        font-size: larger;
        color: #00425A ;
    }
    @media (max-width: 768px){
        h6{
        font-size: small;
    }
    }
</style>
<h6 class="text-center my-4 mx-4">Once we receive your details through the form, our team will review the information and aim to respond to you in a timely manner. We understand the importance of addressing your needs and queries promptly.</h6>
<div class="enquiry-form single-enquiry">
    <div class="form-section">
        
        <form method="POST">
            {% csrf_token%}
            <h3>Get Enquiry <p>to know more about products</p> </h3>
            <ul class="messages">
                {% for message in messages %}
                <p class="text-success text-center">{{ message }}</p>
                {% endfor %}
            </ul>
            {% csrf_token %}
            {{form}}
           <input class="enquiry-btn" name="enquiryform" type="submit">
        </form>
    </div>

    
</div>

{% endblock content %}