<style>
    .price-heading{
        margin: 30px 0;
        font-size: 25px;
    }
    .pricing-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .price-box {
        width: 250px;
        border: 2px solid rgb(110, 110, 109);
        margin: 7px 12px;
        padding: 5px 15px;
    }
    .price-box h1{
        color: rgb(110, 110, 109);
    }
    .price-btns{
        display: flex;
        flex-direction:column ;
        margin: 5px;
    }
    .price-box a{
        text-align: center;
        border: 2px solid rgb(110, 110, 109);
        padding: 5px;
        margin: 2px;
        color:rgb(110, 110, 109);
    }
    .price-box a:hover{
        background-color: rgb(110, 110, 109);
        color:white;
    }

    .price-box ul li{
        list-style: circle;
        margin-left:25px;
    }

    @media only screen and (max-width: 700px) {
        .pricing-section{
        flex-direction: column;
        align-items: center;
    }
    }

</style>
{% block content%}

<h2 class="sectionheader text-center">A Pricing Plans of most widely used products
    <hr class="hdrbtm">
</h2>
<!-- <h2 class="text-center price-heading">A Pricing Plans of most widely used products</h2> -->
<section class="pricing-section">
    <div class="price-box">
        <h2 class="text-center">Animated Videos</h2>
        <h1 class="text-center">&#8377;450</h1>
        <p>Engaging video lessons that make learning fun and interactive</p>
        <ul>
            <li>High Quality content</li>
            <li>Yearly Access</li>
            <li>Shareable with others</li>
            <li>Variety of animations</li>
        </ul>
        <div class="price-btns">
            <a href="#" class="price-btn">Free Trial</a>
            <a href="#" class="price-btn">Buy Now</a>
        </div>
    </div>
    <div class="price-box">
        <h2 class="text-center">Notes</h2>
        <h1 class="text-center">&#8377;750</h1>
        <p>Engaging video lessons that make learning fun and interactive</p>
        <ul>
            <li>High Quality content</li>
            <li>Yearly Access</li>
            <li>Shareable with others</li>
            <li>Variety of animations</li>
        </ul>
        <div class="price-btns">
            <a href="#" class="price-btn">Free Trial</a>
            <a href="#" class="price-btn">Buy Now</a>
        </div>
    </div>
    <div class="price-box">
        <h2 class="text-center">Paper Generation</h2>
        <h1 class="text-center">&#8377;1200</h1>
        <p>Engaging video lessons that make learning fun and interactive</p>
        <ul>
            <li>High Quality content</li>
            <li>Yearly Access</li>
            <li>Shareable with others</li>
            <li>Variety of animations</li>
        </ul>
        <div class="price-btns">
            <a href="#" class="price-btn">Free Trial</a>
            <a href="#" class="price-btn">Buy Now</a>
        </div>
    </div>
    
</section>

{% endblock content%}