{% extends 'main.html'%}
{% block content%}
<div class="product-header">
    <div class="product-detail">
        <div class="product-title">
            <h2>{{product.title}}</h2>
        </div>
        <div class="price-rating">
            <li>&#8377; {{product.price}}</li>
            <li>Rating {{product.rating}}</li>
        </div>
        <div class="description">
            <p>{{product.description}}</p>
        </div>
        <div class="purchase"><a href="{%url 'enquiry-page' %}">Purchase now</a>
            <a href="">Check Sample</a>
            <a href="static\styles\brochure\Database Security.docx" download>Download Syllabus</a>
        </div>
    </div>
</div>
<div class="product-features">
    <h1 class="text-center sec-header">What are the main product features?
        <hr class="hdrbtm">
    </h1>
    <div class="feature-container">
        <div class="feature-card">
            <ul>
                {% for feature in features %}
                <li><i class="fa fa-check-circle" style="color: #189527;"></i> {{feature}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="why">
    <h1 class="text-center sec-header">Why choose Padaku?
        <hr class="hdrbtm">
    </h1>
    <div class="why-container">
        <div class="reason-box">
            <div class="top-part">
                <img src="/static\styles\images\care.png" alt="icon">
                <h5>Community Support
                    <hr>
                </h5>
            </div>
            <p>We have dedicated forum sections and discussion boards where users can ask questions, 
                Our active community members and knowledgeable experts are always ready to help and provide guidance.
                Collaborative Learning,
                Forum and Discussion Boards,
                Resource Sharing,
                Supportive Environment.
            </p>
            
                
            

        </div>
        <div class="reason-box">
            <div class="top-part">
                <img src="/static\styles\images\24-hour-service.png" alt="icon">
                <h5>24/7 Service Available
                    <hr>
                </h5>
            </div>
            <p>Our website is committed to providing 24/7 service to ensure that our users have access to support and resources whenever they need them.
               
                 Instant Access to Study Materials,
                Prompt Customer Support ,
                Timely Updates and Maintenance,
                Accessibility Across Devices.
            </p>

        </div>
        <div class="reason-box">
            <div class="top-part">
                <img src="/static\styles\images\badge.png" alt="icon">
                <h5>Quality & Quantity
                    <hr>
                </h5>
            </div>
            <p>At our website, we strive to maintain a balance between quality and quantity when it comes to study materials and resources.
                We ensure that the information provided is reliable, relevant, and aligned with the latest educational standards.
                    Comprehensive Coverage,
                    Engaging and Interactive Resources,
                    Regular Updates,
                    Feedback and Improvement.
            </p>

        </div>
        <div class="reason-box">
            <div class="top-part">
                <img src="/static\styles\images\inbox.png" alt="icon">
                <h5>Updated Material
                    <hr>
                </h5>
            </div>
            <p>At our website, we are dedicated to providing the latest and updated study materials to ensure that our users have access to current and relevant information.      
                    Continuous Content Review,Curriculum Alignment,Timely Updates,User Feedback.
            </p>

        </div>
    </div>
</div>


<div class="comparison">
    <h1 class="text-center sec-header">How we are best from others?
        <hr class="hdrbtm">
    </h1>
    <div class="comparison-table">
        <table>
            <tr>
                <th>Feature</th>
                <th>Others</th>
                <th>Padaku</th>
            </tr>
            <tr>
                <th>Life time offer</th>
                <td><i class="fa fa-close" aria-hidden="true" style="color: #ba1d0f;"></i></td>
                <td><i class="fa fa-check" aria-hidden="true" style="color: #147920;"></i></td>
            </tr>
            <tr>
                <th>Unlimited access</th>
                <td><i class="fa fa-close" aria-hidden="true" style="color: #ba1d0f;"></i></td>
                <td><i class="fa fa-check" aria-hidden="true" style="color: #147920;"></i></td>
            </tr>
            <tr>
                <th>Download Material</th>
                <td><i class="fa fa-close" aria-hidden="true" style="color: #ba1d0f;"></i></td>
                <td><i class="fa fa-check" aria-hidden="true" style="color: #147920;"></i></td>
            </tr>
           
        </table>
    </div>
</div>

{% endblock content%}