
{% block content%}
<h2 class="sectionheader text-center">Products & Services
    <hr class="hdrbtm">
</h2>
<section class="features-section">
    <div class="feature-box">
        <img src="static\styles\images\animation.jpg" alt="Feature 1">
        <h2>Animated Videos</h2>
        <p>Engaging video lessons that make learning fun and interactive</p>
        <a href="{% url 'product-page'%}" class="course-btn">View</a>
    </div>
    <div class="feature-box">
        <img src="static\styles\images\mindmap.jpg" alt="Feature 2">
        <h2>Mindmap</h2>
        <p>Adaptive learning paths that cater to each student's needs</p>
        <a href="{% url 'product-page'%}" class="course-btn">View</a>
    </div>
    <div class="feature-box">
        <img src="static\styles\images/notes.jpg" alt="Feature 3">
        <h2>Notes with mindmap</h2>
        <p>Regular assessments and feedback to track progress</p>
        <a href="{% url 'product-page'%}" class="course-btn">View</a>
    </div>
    <div class="feature-box">
        <img src="static/styles/images/papersolution.jpg" alt="Feature 3">
        <h2>MCQ collection</h2>
        <p>Regular assessments and feedback to track progress</p>
        <a href="{% url 'product-page'%}" class="course-btn">View</a>
    </div>
</section>


{% endblock content%}