
.product-header{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:0px auto;
}
#navbar{
    position:relative;
}
/* .product-picture{
    width: 50%;
}
.product-picture img{
    width: 100%;
    object-fit: cover;
} */
.product-title h2{
    font-size: 28px;
}
.description p{
    font-size: 20px;
    text-align: left;
    margin-left: 2%;
    color: aliceblue;
}
.product-detail{
    width: 100%;
    background-color: rgb(2, 95, 123);
    color: aliceblue;
    border: 1px solid rgb(186, 128, 128);
    padding: 20px 15px;
    text-align: center;
}
.price-rating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
}

.price-rating li{
    border: 1px solid rgb(197, 197, 205);
    margin: 12px;
    padding: 5px 20px;
}

.purchase{
    margin-top:35px;
    padding: 12px 0px;
}
.purchase a{
    border: 1px solid aliceblue;
    padding: 12px 45px;
    background-color: aliceblue;
    /* color: black; */
    color: black;
    text-decoration: none;
}

.purchase a:hover{
    background: rgb(64, 64, 67);
    color: aliceblue;    
}

.recom-prod{
    text-align: center;
}


.review-rating{
    margin: 50px 0;
    text-align: center;
}

.sec-header .hdrbtm{
    width: 20rem;
    border-width: 2px;
    border-color: rgb(15, 140, 178);
}


.why-container{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px auto;
}
.reason-box{
    width: 340px;
    min-height:300px;
    margin:10px 10px;
    list-style:disc;
}

.reason-box .top-part{
    display: flex;
    flex-direction: row;
}

.top-part{
    margin: 2px;
    padding: 2px;
    text-align: center;
}
.top-part h5{
    padding-top: 40px;
    font-size:15px;
}

.top-part h5 hr{
    border:1px solid rgb(29, 73, 169);
    border-radius: 2px;
}
.top-part img{
    /* border: 1px solid black; */
    width: 100px;
}
.reason-box p{
    padding: 4px 0;
    padding-left:20px;
}


/* Feature Card */
.product-features{
    padding-top: 40px;
    background-color: rgb(193, 208, 208);
}
.feature-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px auto;
}
.feature-card{
       border: 1px solid black;
       border-radius: 5px;
       background-color: aliceblue;
       width: fit-content;
       height:fit-content;
       margin:40px 15px;
       padding: 25px 25px;
}

.feature-card ul li{
    margin: 7px 7px;
    font-size: 25px;
}

.feature-card i{
    margin-right: 5px;
}

.comparison{
    background-color: rgb(2, 95, 123);
}
.comparison h1{
    padding-top:40px;
    color: aliceblue;
}
.comparison .sec-header hr{
    border-color: aliceblue;
}
.comparison-table table{
    width: 600px;
    height: 400px;
    margin: 60px auto;
    margin-bottom: 0px;
    background-color: aliceblue;
}
.comparison-table{
    padding-bottom: 60px;
}
table tr,th,td{
    border: 1px solid black;
    text-align: center;
}


@media only screen and (max-width: 1000px)
{
    .product-header{
        display: flex;
        flex-direction: column;
    }
    .description p{
        font-size: 18px;
        text-align: center;
    }

    .product-picture{
        width: 100%;
    }
    .product-picture img{
        width: 100%;
        object-fit: cover;
    }
    .product-detail{
        width: 100%;
    }

    .purchase{
        display: flex;
        flex-direction: column;
        margin: 2px;
    }
    .purchase a{
        color: black;
        text-decoration: none;
        margin: 2px;
    }
    .why-container{
        display: flex;
        flex-direction: column;
    }
    .feature-card ul li{
        font-size: 18px;
    }
    .comparison h1{
        font-size: 28px;
    }
    .why h1{
        font-size: 28px;
    }
    .product-features h1{
        font-size: 28px;
    }
  
}

@media only screen and (max-width: 540px){
   
    .purchase {
        margin: 4px 60px;
    }
    .why-container{
        display: flex;
        flex-direction: column;
    }
    .feature-card ul li{
        font-size: 12px;
    }

    .comparison-table table{
        width: 350px;
        height: 350px;
        margin: 30px auto;
    }
    .comparison h1{
        font-size: 25px;
    }
    table tr,th,td{
        font-size: small;
    }
    .why h1{
        font-size: 25px;
    }

    .product-features h1{
        font-size: 25px;
        margin: 0 5px;
    }
  
}