*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-header{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:40px auto;
}
#navbar{
    position:relative;
}
/* .product-picture{
    width: 50%;
}
.product-picture img{
    width: 100%;
    object-fit: cover;
} */
.product-detail{
    width: 80%;
    border: 1px solid rgb(186, 128, 128);
    padding: 20px 15px;
    text-align: center;
}
.price-rating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
}

.price-rating li{
    border: 1px solid rgb(197, 197, 205);
    margin: 12px;
    padding: 5px 20px;
}

.purchase{
    margin-top:35px;
    padding: 12px 0px;
}
.purchase a{
    border: 1px solid rgb(64, 64, 67);
    padding: 12px 45px;
    color: black;
    text-decoration: none;
}

.purchase a:hover{
    background: rgb(64, 64, 67);
    color: aliceblue;    
}

.recom-prod{
    text-align: center;
}


.review-rating{
    margin: 50px 0;
    text-align: center;
}

.sec-header1 .hdrbtm{
    width: 340px;
    border-width: 4px;
    border-color: rgb(15, 140, 178);
    border-radius: 5px;
    margin: 10px;
}
.sec-header2 .hdrbtm{
    width: 630px;
    border-width: 4px;
    border-color: rgb(15, 140, 178);
    border-radius: 5px;
    margin: 8px;
}
.sec-header3 .hdrbtm{
    width: 510px;
    border-width: 4px;
    border-color: rgb(15, 140, 178);
    border-radius: 5px;
    margin: 8px;
}

.why-container{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px auto;
    /* border: 1px solid black; */
}
.reason-box{
    /* border: 1px solid black; */
    width: 340px;
    min-height:300px;
    margin:10px 10px;
}

.reason-box .top-part{
    display: flex;
    flex-direction: row;
}

.top-part{
    margin: 2px;
    padding: 2px;
    text-align: center;
}
.top-part h5{
    padding-top: 40px;
    font-size:15px;
}

.top-part h5 hr{
    border:1px solid rgb(29, 73, 169);
    border-radius: 2px;
}
.top-part img{
    /* border: 1px solid black; */
    width: 100px;
}
.reason-box p{
    padding: 4px 0;
    padding-left:20px;
}
@media only screen and (max-width: 1000px)
{
    .product-header{
        display: flex;
        flex-direction: column;
        margin: 5%;
    }

    .product-picture{
        width: 100%;
    }
    .product-picture img{
        width: 100%;
        object-fit: cover;
    }
    .product-detail{
        width: 100%;
    }

    .purchase a{
        color: black;
        text-decoration: none;
    }
	
}
