{% extends 'main.html'%}
    <!-- Header -->

    {% block content%}
  
    <div class="header">

        <div class="hero-section">
            <div>
                <h1 class="heading">Products <span id="headmove"></span>|</h1>
                <p>Get personalized online products, tools and other study materials</p>
            </div>
            <div>
                <button>
                    <span id="sl"><a href="static\styles\brochure\Database Security.docx" download>Download Brochure</a></span>
                </button>
            </div>
        </div>
        <!-- <img src="static\styles\images\main5.jpg" alt=""> -->
        <div class="enquiry-form web-enq">
            {% if messages %}
            
            {% endif %}
            <div class="form-section">
                <form method="POST">
                    {% csrf_token%}
                    <h3>Get Enquiry <p>to know more about products</p> </h3>
                    <ul class="messages">
                        {% for message in messages %}
                        <p class="text-success text-center">{{ message }}</p>
                        {% endfor %}
                    </ul>
                    {% csrf_token %}
                    {{form}}
                    <input class="enquiry-btn" name="enquiryform" type="submit">
                </form>
            </div>
        </div>
    </div>
   
    
        <div class="mobile-enquiry enquiry-form">
            <div class="form-section">
                <form method="POST">
                    {% csrf_token%}
                    <h3>Get Enquiry <p>to know more about products</p> </h3>
                    <ul class="messages">
                        {% for message in messages %}
                        <p class="text-success text-center">{{ message }}</p>
                        {% endfor %}
                    </ul>
                    {% csrf_token %}
                    {{form}}
                    <input class="enquiry-btn" name="enquiryform" type="submit">
                </form>
            </div>
        </div>

    
    <h1 class="sectionheader text-center">Products & Services
        <hr class="hdrbtm">
    </h1>
    <section class="features-section">
        {% for product in products %}
        <div class="feature-box">
            <img src="{{product.product_image}}" alt="Feature 1">
            <h2>{{product.title}}</h2>
            <p>{{product.description}}</p>
            <a href="{% url 'product-page' product.id %}" class="course-btn">View</a>
        </div>
        {%endfor%}
    </section>
    
   
    <!-- Main Content -->
    
    
    <h1 class="sectionheader text-center">Popular Tools
        <hr class="hdrbtm">
    </h1>
    <section class="courses-section">
      
        <div class="course-card">
           <div> <img src="static\styles\images\8850054_4022434.jpg" alt="Course 1"> </div>
            <div>
            <h3>Paper Creation Tool</h3>
            <p>The paper creation tool is a user-friendly software that assists teachers in efficiently creating custom exam papers. It offers a drag and drop feature for easy question arrangement and filtering options to select questions from a question bank. Teachers can download, modify, and access creator paper solutions, ensuring well-structured exams.</p>
            <a href="#" class="course-btn">Buy</a>
            <a href="#" class="course-btn">Check Sample</a>
            </div>
        </div>
        <div class="course-card">
            <div><img src="static\styles\images\attendance.jpg" alt="Course 2"></div>
            <div>
            <h3>Attendance System Tool</h3>
            <p>The attendance system tool automates the process of tracking and managing attendance in various settings, such as schools, businesses, and events. It allows users to record attendance data, track absenteeism, and generate comprehensive reports. With time-saving automation, the attendance system tool enhances efficiency and minimizes manual record-keeping efforts.</p>
            <a href="#" class="course-btn">Buy</a>
            <a href="#" class="course-btn">Check Sample</a>
        </div>
        </div>
        <div class="course-card">
            <div><img src="static\styles\images\12145601_Wavy_Edu-04_Single-05.jpg" alt="Course 3"></div>
            <div>
            <h3>School Management System Tool</h3>
            <p>The school management system tool is a comprehensive software solution designed to streamline and enhance various administrative and academic tasks within educational institutions. It encompasses functionalities like student information management, class scheduling, grading, fee management, and communication with parents.</p>
            <a href="#" class="course-btn">Buy</a>
            <a href="#" class="course-btn">Check Sample</a>
           
            </div>
        </div>
    </section> 

    <!-- Testimonial -->
    <h1 class="sectionheader text-center">Meet Our Team
        <hr class="hdrbtm">
    </h1>
    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="static/styles/Responsive Card Slider/images/vijay.jpeg" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Vijay Patidar</h2>
                        <h3 class="name">Founder and CEO</h3>
                        <p class="description">Currently understanding the marketing strategy to increase productivity.</p>

                        <button class="button">View More</button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="static/styles/Responsive Card Slider/images/pintu.jpg" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Purushottam Patidar</h2>
                        <h3 class="name">Co-Founder and Developer</h3>
                        <p class="description">Pursuing Master Of Computer Application from NIT Trichy</p>

                        <button class="button">View More</button>
                    </div>
                </div>
                
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="static/styles/Responsive Card Slider/images/drashti.jpeg" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Drashti Bhatnagar</h2>
                        <h3 class="name">Managing Client & Schedule</h3>
                        <p class="description">A talented communicator with a remarkable skill in client interaction.</p>

                        <button class="button">View More</button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="static/styles/Responsive Card Slider/images/gorana.jpeg" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Rahul Gorana</h2>
                        <h3 class="name">Web and App Developer</h3>
                        <p class="description">A talented and versatile developer with expertise in Android and web development.</p>

                        <button class="button">View More</button>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>

    <!-- End of Testimonial -->


    <!-- customer review -->
    <div id="customer-review" class="content">

        <div class="container ">
            <div class="row mb-5 ">
                <div class="col-12 text-center">
                    <h1 class="sectionheader">Customer Review
                        <hr class="hdrbtm">
                    </h1>
                </div>
            </div>
        </div>


        <div class="site-section bg-left-half mb-5">
            <div class="container owl-2-style">


                <div class="owl-carousel owl-2">

                    <div class="media-29101">
                        <img src="static/styles/Customer Review/images/person_1_sm.jpg" alt="Image" class="img-fluid">
                        <h3><a href="#">Maduri Sharma</a></h3>
                        <p>I recently came across the Padaku website, and I must say it has been a game-changer for my child's learning journey. 
                            The study materials and animation videos provided by Padaku are simply outstanding.</p>
                    </div>

                    <div class="media-29101">
                        <img src="static/styles/Customer Review/images/person_2_sm.jpg" alt="Image" class="img-fluid">
                        <h3><a href="#">Riya Verma</a></h3>
                        <p>The study materials cover a wide range of subjects and are tailored for students from KG to 12th grade.
                             They are comprehensive, well-organized, and easy to understand. The content is presented in a concise and engaging manner.</p>
                    </div>

                    <div class="media-29101">
                        <img src="static/styles/Customer Review/images/person_3_sm.jpg" alt="Image" class="img-fluid">
                        <h3><a href="#">Rahul Dixit</a></h3>
                        <p>What sets Padaku apart is their brilliant use of animation videos. 
                            These videos bring the subjects to life and make learning a truly enjoyable experience for my child.
                            The visuals are vibrant, of animation are good.</p>
                    </div>

                    <div class="media-29101">
                        <img src="static/styles/Customer Review/images/person_1_sm.jpg" alt="Image" class="img-fluid">
                        <h3><a href="#">Ananya Raj</a></h3>
                        <p>Padaku's study materials have greatly complemented my child's classroom learning.
                             They have helped improve my child's understanding of various subjects and have  boosted their academic performance.</p>
                    </div>

                    <div class="media-29101">
                        <img src="static/styles/Customer Review/images/person_2_sm.jpg" alt="Image" class="img-fluid">
                        <h3><a href="#">Vaishali Patel</a></h3>
                        <p>I also appreciate the fact that Padaku regularly updates its content to ensure it aligns with the latest curriculum standards.
                             This commitment to staying up-to-date reflects their dedication to providing relevant study materials.</p>
                    </div>

                    <div class="media-29101">
                        <img src="static/styles/Customer Review/images/person_3_sm.jpg" alt="Image" class="img-fluid">
                        <h3><a href="#">Akshay Raj</a></h3>
                        <p>The customer support provided by Padaku is exceptional. Anytime I had a question or needed assistance, their support team responded promptly and resolved the issue efficiently. It's reassuring to know that help is just a click away.</p>
                    </div>

                </div>


            </div>
        </div>
    </div>



    <h1 class="sectionheader text-center">Provide Feedback
        <hr class="hdrbtm">
    </h1>

    <!--end of customer review  -->
    <section>
        <div class="formdiv">
            <div class="form-detail">
                <h3>Give Feedback</h3>
                <p>Ask any relevant question and give feedback </p>
                <li><a href="">Address: Gajanand nagar , Khajrana, Jaipur 452001</a></li>
                <li><a href="">Phone: +918823083040</a></li>
                <li><a href="">Email: pintupatidar555@gmail.com</a></li>
            </div>
            <div class="form-section">
                <form method="POST">
                    <h3>Drop your message here</h3>
                    <ul class="messages">
                        {% for message in messages %}
                        <p class="text-success text-center">{{ message }}</p>
                        {% endfor %}
                    </ul>

                    {% csrf_token %}
                    {{fform}}
                    <input class="enquiry-btn feedback-btn" name="feedbackform" type="submit">
                    
                </form>
            </div>
        </div>
    </section>


    <!-- Footer -->

 

 


    <!-- JAVA-SCRIPT SECTION -->


    <script>
        var headmove = document.getElementById('headmove');
        var headingTexts = ["completely tested.", "having quality.", "best from others."];
        var i = 1, j = 0;
        var size = 0;
        var str;
        f()
        function f() {
            headmove.innerHTML = "";
            str = headingTexts[i];
            size = headingTexts[i].length;
            i = (i + 1) % 3, j = 0;
            typerWriter();
        }

        function typerWriter() {
            if (j < size) {
                headmove.innerHTML += str.charAt(j);
                j++;
                setTimeout(typerWriter, 100);
            } else f();
        }

    </script>

{% endblock content %}